/* font-family: 'Lato', sans-serif; */

/* NAV BAR */


p{
    font-family: 'Lato', sans-serif;  
}

/**** Mass times  ****/

#mass-time-one{
    border-style:solid;
}

#mass-time-two{
    border-style:solid;
    border-top: none;
}

#mass-time-three{
    border-style:solid;
    border-top: none;
}

#mass-time-four{
    border-style:solid;
    border-top: none;
}

/* Vertically Aligning Text in Boxes */

#vert-center-one{
    
}

/**** Horizontal Lines ****/

.hr-main{
    margin-left: 10%;
    margin-right: 10%;
    height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.hr-event{
    margin-left: 25%;
    margin-right: 25%;
    height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

/**** Upcoming Events Styling ****/

.upcoming-event{
    border: 2px solid grey;
    border-radius: 8px;
    margin-left: 25%;
    margin-right: 25%;
}


/**** Mass times end ****/


#welcome{
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-top: 8%;
}

#welcome-two{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-style: italic;
}

#c-img{
    margin: 5% auto;
    border: solid 10px;
}